@import "./var";
@import "./responsive_mixins";

/*HEADER*/
.header {
    margin: 0%;
    padding: 0%;
}
.navbar {
    display: grid;
    height: auto;

}
a.nav-link:hover {
    background-color: hsl(281, 81%, 69%);
}
