/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/*HEADER*/
.header {
  margin: 0%;
  padding: 0%;
}

.navbar {
  display: -ms-grid;
  display: grid;
  height: auto;
}

a.nav-link:hover {
  background-color: #c770f0;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/*MAIN*/
.main {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__container {
  display: -ms-grid;
  display: grid;

      grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  padding: 3px;
  grid-gap: 3px;
}

.hero__item {
  position: relative;
}

.hero__imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__nombre {
  position: absolute;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 400;
  bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.226);
  width: 100%;
  margin: 0;
}

.button {
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #00000096;
  border-radius: 3px;
  width: 70%;
}

.button:hover {
  background-color: #cc9977a8;
  border: #cc9977a8;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/*Footer*/
.separador {
  color: black;
}

.footer {
  background: #0001;
  display: inline;
  margin-top: 1rem;
  padding: 0.5rem 0 1rem 0;
  text-align: center;
}

.footer__section {
  padding-left: 50px;
  margin-left: 50px;
}

.footer__parrafo {
  font-size: medium;
}

.footer__lista {
  list-style: none;
  font-size: small;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem;
}

.final__mapa {
  margin-left: 100%;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/*Para abajo y Para arriba*/
.section {
  padding: 8px;
      grid-template-columns: repeat(3, 1fr);
}

.image-uno {
  margin: 1rem;
  height: 25rem;
  width: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-fluid {
  margin: 0.5rem;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/*Gastronomia*/
.gastro {
  margin: 6px;
  padding: 6px;
}

.gastronomia {
  font-size: 20px;
  font-weight: 400;
  padding: 6px;
  text-align: center;
  margin-bottom: 4rem;
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  margin: 1rem;
  border: violet 2px solid;
  position: relative;
}

.lista__parrafo {
  margin: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%;
  text-align: center;
}

.lista__parrafo-img {
  height: 11rem;
  width: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
  text-align: right;
  right: 100%;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/*Contacto*/
.contactofondo {
  margin: 1.5rem;
  padding: 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#74d1d1), to(#e6bfd4));
  background: linear-gradient(to top, #74d1d1, #e6bfd4);
}

.subtitulo__contacto {
  font-weight: 500;
  padding: 1rem;
  font-size: 1.5;
}

.formulario {
  padding: 10px;
  display: block;
  width: 25rem;
}

.legend {
  font-weight: 400;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.controls {
  margin: 1rem;
  padding: 0.2rem;
  width: 15%;
  border-radius: 4px;
}

.controls--mail {
  width: 30%;
  border-radius: 4px;
  margin: 1rem;
  padding: 0.2rem;
}

.seleccionar {
  padding: 0.7rem;
  margin: 0.4rem;
}

.btn {
  margin: 1rem;
  padding: 5px;
  height: 2rem;
}

.legend {
  font-weight: bolder;
  font-size: 1rem;
}

.form-label {
  font-size: 0.8rem;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.8rem;
}

/*Responsive mixins*/
/* Mediaqueri index*/
@media (min-width: 320px) {
  * {
    font-size: 1rem;
  }
  .elgeneral {
    margin: 0.2rem;
  }
  .navegacion {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__container {
  
        grid-template-columns: repeat(3, 1fr);
  }
  /*Mediaqueria Para arriba Para abajo*/
  .image {
  
        grid-template-columns: repeat(1, 1fr);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section {
    -webkit-text-decoration: double;
            text-decoration: double;
  }
  .image-uno {
    height: 16rem;
    width: 14rem;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 0.3rem;
    margin: 0.4rem;
  }
  /*gastronomia*/
  .listagastro__item {
    display: inline-block;
    border: #cdd3dd solid 2px;
  }
  .listagastro {
    margin: 0.1rem;
    padding: 0.1rem;
  }
  .listagastro__item--img {
    margin: 2rem;
    -o-object-fit: contain;
       object-fit: contain;
    padding: auto;
    width: 18rem;
    height: auto;
  }
  /*contacto*/
  .formulario {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .controls {
    width: 12rem;
  }
  .controls--mail {
    padding-right: 5rem;
    width: 20rem;
  }
  .main__contacto {
    font-variant: small-caps;
  }
  .body {
    font-size: smaller;
  }
  /* Footer */
  .footer {
    display: inline;
  }
  .footer__lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .footer__lista__item {
    list-style: none;
  }
  .final__mapa {
    margin: 1px;
  }
  .footer__section {
    margin: 0%;
  }
}
/*# sourceMappingURL=main.css.map */